.responsive-form {
  display: flex;
  flex-flow: column;
  width: 100%;
}

/* @media only screen and (min-width: 1000px) {
  .responsive-form {
    display: flex;
    flex-flow: row;
  }
} */


@media only screen and (min-width: 1000px) {
  .responsive-form {
    display: flex;
    flex-flow: row;
    width: 70%;
  }
}

/* Hide Scrollbar */
::-webkit-scrollbar {
  display: none;
}
